@media screen and (max-width: 1500px) {
  .business__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .business-content {
    margin-right: 0;
  }

  .business__left {
    margin-bottom: 30px;
  }

  .business__right {
     -webkit-box-flex: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
    padding-top: 0;
  }

  .business-content__icon {
    max-width: 50px;
  }

  .business-content__text:not(:last-child) {
    margin-bottom: 15px;
  }

  .business-table__icon {
    top: -260px;
  }

  .social-bottom {
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
  }

  .social-bottom__left {
    -ms-flex-item-align: center;
     -ms-grid-row-align: center;
             align-self: center;
    margin-right: 0;
    margin-bottom: 80px;
    padding: 65px;
  }

  .social-bottom__left::after {
    bottom: -67px;
    right: calc(50% - 40px);
    transform: rotate(90deg);
  }

  .card-title_social {
    font-size: 27px;
  }
}

@media screen and (max-width: 1334px) {
  .container {
    padding: 0 15px;
  }

  .section {
    margin-bottom: 80px;
  }

  /* header */
  .header {
    box-shadow: 1px 0.5px 1px #000;
  }

  .nav {
    padding: 14px 0;
  }

  .nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
    height: auto;
  }

  .nav-list__item {
    margin-right: 0;
  }

  .nav-list__item:not(:last-child) {
    margin-bottom: 23px;
  }

  .nav-link::before {
    bottom: -10px;
  }

  .nav__link-social {
    position: absolute;
    z-index: 1;
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: end;
    width: 100%;
    height: calc(100% - 16px);
    padding: 0;
    padding-bottom: 20px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #fff;
  }

  .nav__link-social:before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: calc(50% - 67px);
    display: block;
    width: 134px;
    height: 5px;
    margin: auto;
    background-color: #000;
    border-radius: 100px;
  }

  .mob-social {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
  }

  .nav__btn-to-form {
    position: relative;
    -webkit-box-pack: end;
       -ms-flex-pack: end;
     justify-content: end;
    margin: auto;
    margin-bottom: 20px;
  }

  .logo-img {
    width: 66px;
  }

  .nav__link-social {
    position: fixed;
    top: -100%;
    left: 0;
    visibility: hidden;
  }

  .nav__link-social_mob-down {
    animation: down 1s ease;
    visibility: visible;
  }

  .nav__link-social_mob-up {
    animation: up 1s ease;
    visibility: hidden;
  }

  .nav__link-social.bottom {
    top: 0;
    visibility: visible;
  }

  .nav__link-social.top {
    top: -100%;
    visibility: hidden;
  }

  .nav-phone {
    right: 64px;
  }

  .nav__burger {
    display: block;
  }

  /* modal order */
  .order-form {
    height: calc(100% - 80px);
  }

  .modal-order-phone_visible {
    -webkit-box-align: start;
       -ms-flex-align: start;
          align-items: flex-start;
  }

  /* services */
  .swipe-wrapper {
    margin-bottom: 18px;
  }

  .button-service {
    margin: unset;
  }

  .additional__container {
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
  }

  .additional__left {
    max-width: 310px;
    background-image: none;
  }

  .additional__right {
    position: relative;
    top: -57.5px;
  }
}

@media screen and (max-width: 1024px) {
  .btn-social__right {
    display: none;
  }

  .coast::after {
    top: 3px;
    left: 2px;
  }

  .currency::after {
    left: 2px;
  }

  /* business */
  .business-table__icon {
    display: none;
  }

  .business-content {
    max-width: unset;
  }

  .business-content__text:not(:last-child) {
    width: 50%;
  }

  .business-content__icon {
    margin-right: 15px;
  }
}

@media screen and (max-width: 920px) {
  /* modal order*/
  .order-form {
    padding: 71px 16px 7px;
  }

  .order-title {
    margin-bottom: 32px;
  }

  .form-data {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-data:last-child {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .form-data__col {
    width: 100%;
  }

  .form-data__col:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .col-agreement {
    margin-bottom: 36px;
  }

  .data-input:not(:last-child) {
    margin-bottom: 15px;
  }

  /* business */
  .business-table__list {
    padding: 15px;
    background-image: none;
  }

  .business-table {
    max-width: max-content;
    margin: auto;
  }

}

@media screen and (max-width: 768px) {
  /* global */
  .second-title {
    margin-bottom: 19px;
  }

  .container {
    background-image: none !important;
  }

  /* hero */
  .hero__container {
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
    -webkit-box-pack: space-evenly;
       -ms-flex-pack: space-evenly;
     justify-content: space-evenly;
  }
  .hero {
    padding: 70px 0 16px;
  }

  .hero-col-left,
  .hero-col-right {
    width: auto;
    margin-right: 0;
  }

  .hero-col-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
     -webkit-box-flex: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .first-title {
    max-width: 343px;
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 40px;
  }

  .hero__img {
    max-height: 311px;
  }

  .hero-list {
    margin-bottom: 21px;
  }

  .hero-list__item {
    padding-left: 35px;
    font-size: 18px;
    line-height: 22px;
  }

  .hero-list__item::before {
    width: 18px;
    height: 18px;
  }

  /* services */
  .swipe__col:not(:last-child) {
    margin-right: 11px;
  }

  .line {
    display: none;
  }

  /* additional */
  .additional__right {
    display: none;
  }

  .additional-swiper {
    display: block;
  }

  /* business */
  .business-content {
       -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
  }

  .business-content__text:not(:last-child) {
    width: auto;
  }

  .business-content__text {
    font-size: 19px;
  }

  .business-content__icon {
    max-width: 35px;
  }

  .business-list__item {
    font-size: 19px;
  }

  /* types social */
  .social-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .business-content:not(:last-child) {
    margin-bottom: 32px;
  }

  .social-bottom__left {
    max-width: 273px;
    padding: 50px 30px;
    font-size: 17px;
    line-height: 20px;
  }

  .social-bottom__left::after {
    bottom: -58px
  }

}

@media screen and (max-width: 500px) {
  .order-form {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
  }

  .business-list__item {
    margin-bottom: 25px;
    padding-left: 0;
    padding-top: 45px;
  }
}

@media screen and (max-width: 350px) {
  .nav-phone {
    right: 38px;
  }
}
