:root {
  --yellow: #ffdf68;
  --link-yellow: #fcd600;
  --hover-yellow: #fecd19;
  --grey: #727272;
  --light-violet: #c2a7e4;
  --violet: #8333e9;
  --hover-violet: #9a5aeb;
  --focus-violet: #8333E9;
  --active-violet: #bc94ef;
  --red: #ff2929;
  --pink: #FCB4F0;
}

html {
  box-sizing: border-box;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

body {
  background-color: transparent;
  -webkit-transition: background-color .3s linear;
       -o-transition: background-color .3s linear;
          transition: background-color .3s linear;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  word-wrap: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts//Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
    url('../fonts/Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


body {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.body-hidden {
  overflow: hidden;
}

/* glob */
.container {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  max-width: 1920px;
  min-height: 100%;
  margin: auto;
  padding: 0 100px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.first-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: calc(3.6vw - 4.6px);
  line-height: calc(3.6vw + 3.4px);
}

.second-title {
  margin: 0;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.color-back {
  position: relative;
  z-index: 1;
}

.color-back::after,
.color-back::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 22px;
}

.color-back::before {
  top: 0;
  right: 0;
  z-index: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.color-back::after {
  top: 2px;
  right: -2px;
  z-index: -1;
}

.color-back_yellow::after {
  background-color: var(--yellow);
}

.color-back_violet::after {
  background-color: var(--light-violet);
  -webkit-transition: background-color .3s linear;
       -o-transition: background-color .3s linear;
          transition: background-color .3s linear;
}

.color-back_violet:hover::after {
  background-color: var(--hover-violet);
}

.color-back_violet:focus::after {
  background-color: var(--focus-violet);
}

.color-back_violet:active::after {
  background-color: var(--active-violet);
}

.hidden {
  overflow: hidden;
}

.line {
  margin-bottom: 78px;
  border-bottom: 1px solid #000;
}

@-webkit-keyframes down {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes down {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

.move-down {
  animation: down 1s ease .3s;
}

@-webkit-keyframes up {
  from {
    top: 0;
  }

  to {
    top: -100%;
  }
}

@keyframes up {
  from {
    top: 0;
  }

  to {
    top: -100%;
  }
}

.move-up {
  animation: up 1s ease;
}

.top {
  top: -100%;
}

.bottom {
  top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.content-bottom-left {
         -moz-animation: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: end;
     -ms-flex-pack: end;
   justify-content: end;
}

 /* header */
 .header {
   position: fixed;
   z-index: 2;
   width: 100%;
   background-color: #fff;
 }

.nav {
  position: relative;
  align-items: center;
  padding: 23px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.nav__logo {
  margin-right: 10px;
}

.logo-img {
  width: 202px;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -37px;
  left: -22px;
  width: 0;
  height: 3px;
  background-color: transparent;
  -webkit-transition: background-color .3s linear, width .3s linear;
       -o-transition: background-color .3s linear, width .3s linear;
          transition: background-color .3s linear, width .3s linear;
}

.nav-link:hover::before {
  width: calc(100% + 44px);
  background-color: var(--link-yellow);
}

.nav__link-social {
   -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  padding-right: 450px;
}

.nav-list {
   -webkit-box-flex: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
  align-items: center;
  -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 36px;
}

.nav-list__item:not(:last-child) {
  margin-right: 10px;
}

.nav-list__item::after {

}

.nav-list__item:hover {

}

.mob-social {
  display: none;
}

.nav__burger {
  position: absolute;
  right: 0;
  display: none;
}

.nav__btn-to-form {
  position: absolute;
  right: 0;
  padding: 10px 30px;
  border-radius: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__btn-to-form::after {
  color: #515151;
  -webkit-transition: background-color .3s linear;
       -o-transition: background-color .3s linear;
          transition: background-color .3s linear;
}

.nav__btn-to-form:hover::after {
  background-color: var(--hover-yellow);
}

.nav__btn-to-form:focus::after {
  background-color: var(--hover-yellow);
}

.nav-phone {
  position: absolute;
  right: 282px;
  display: flex;
  align-items: center;
}

.nav-phone__icon-svg ellipse {
  -webkit-transition: fill .3s linear;
       -o-transition: fill .3s linear;
          transition: fill .3s linear;
}

.nav-phone:hover .nav-phone__icon-svg ellipse {
  fill: #19FE82;
}

.nav-phone:focus .nav-phone__icon-svg ellipse {
  fill: #45FC99;
}

.nav-phone:active .nav-phone__icon-svg ellipse {
  fill: #5BFBA5;
}


.nav-phone__icon-svg {
  margin-right: 11px;
}

/* modal order */
.modal-order-phone,
.modal-advice,
.modal-service {
  position: fixed;
  top: 0;
  z-index: 2;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
}

.visible {
  background-color: rgba(0, 0, 0, .75);
  opacity: 1;
  visibility: visible;
}

.order-form {
  position: relative;
  top: -100%;
  width: calc(100% - 40px);
  max-width: 1316px;
  height: calc(100% - 114px);
  max-height: 816px;
  margin: auto;
  padding: 57px;
  border-radius: 22px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  background-image: url("../img/Pattern.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  overflow-y: auto;
}

.order-form__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border-color .3s linear;
       -o-transition: border-color .3s linear;
          transition: border-color .3s linear;
}

.order-form__close::before,
.order-form__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc((100% - 17px) / 2 );
  width: 17px;
  height: 1px;
  background-color: #000;
  -webkit-transition: background-color .3s linear;
       -o-transition: background-color .3s linear;
          transition: background-color .3s linear;
}

.order-form__close::before {
  transform: rotate(45deg);
}

.order-form__close::after {
  transform: rotate(-45deg);
}

.order-form__close:hover {
  border-color: var(--red);
}

.order-form__close:ащсгы {
  border-color: var(--red);
}

.order-form__close:active {
  border-color: var(--red);
}

.order-form__close:active::before,
.order-form__close:active::after {
  background-color: var(--red);
}

.order-container {
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
   max-width: 845px;
   margin: auto;
}

.order-title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
}

.form-data:not(:last-child) {
  margin-bottom: 34px;
}

.form-data__col {
  width: calc((100% - 73px) / 2);
}

.form-data__col:not(:last-child) {
  margin-right: 73px;
}

.data-label {
  display: block;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 12px;
  color: var(--grey);
}

.data-input,
.data-textarea {
  width: 100%;
  min-height: 43px;
  border: 0.5px solid #000000;
}

.data-input:focus {
  /* background: transparent; */
}

.data-input:not(:last-child) {
  margin-bottom: 37px;
}

.data-textarea {
  width: 100%;
  height: 86px;
  border: 0.5px solid #000000;
}

.data-submit {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
  min-width: 172px;
  padding: 7.5px 7px 7.5px 20px;
  border-radius: 22px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.label-check {
  position: relative;
  top: 5px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer;
}

.data-checkbox {
  -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  margin-right: 21px;
}

.data-checkbox:hover + .data-border svg rect{
  stroke: var(--violet);
}

.data-checkbox:focus + .data-border svg rect {
  stroke: var(--violet);
}

.data-checkbox-custom {
  position: absolute;
  top: 7px;
  left: 0;
}

.data-check,
.data-border {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  -webkit-transition: all .3s linear;
       -o-transition: all .3s linear;
          transition: all .3s linear;
}

.data-check {
  top: -1px;
  left: -1px;
  width: 21px;
  height: 20px;
  opacity: 0;
}

.data-checkbox:checked + .data-check {
  opacity: 1;
}

.data-checkbox:checked + .data-check + .data-border {
  opacity: 0;
}

.data-agreement {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.data-link-police {
  color: var(--violet);
  text-decoration: underline;
}

.label-check {
  -webkit-box-align: baseline;
     -ms-flex-align: baseline;
        align-items: baseline;
}

.label-check .data-border svg rect {
  -webkit-transition: stroke .3s linear;
       -o-transition: stroke .3s linear;
          transition: stroke .3s linear;
}

.label-check:hover .data-border svg rect {
  stroke: var(--violet);
}

.label-check:focus .data-border svg rect {
  stroke: var(--violet);
}

/* hero */
.hero {
  height: 100%;
  padding: 125px 0 36px;
}

.hero__container {
  background-image: url("../img/Bg-hero.png");
}

.hero-col-left {
  width: 50%;
  margin-right: 9%;
}

.hero-col-right {
  width: 41%;
}

.hero-list {
  margin-bottom: calc(5.3vw - 32px);
}

.coast,
.currency {
  position: relative;
  color: var(--pink);
  white-space: nowrap;
}

.coast::after {
  content: attr(data-coast);
  position: absolute;
  top: 8px;
  left: 3px;
  z-index: -1;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;;
  color: #fff;
}

.currency::after {
  content: attr(data-currency);
  position: absolute;
  top: -2px;
  left: 4px;
  z-index: -1;
  text-shadow: #000 1px 1px 0, #000 -1px -1px 0, #000 -1px 1px 0, #000 1px -1px 0;;
  color: #fff;
}

.hero-list__item {
  position: relative;
  padding-left: 70px;
  font-weight: 300;
  font-size: calc(2vw - 2.6px);
  line-height: calc(2.7vw - 5.4px);
}

.hero-list__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: calc(2.7vw - 5.4px);
  height: calc(2.7vw - 5.4px);
  margin-right: 50px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.hero-list__item:first-child::before {
  background-image: url("../img/ico_cross.svg");
}

.hero-list__item:nth-child(2)::before {
  background-image: url("../img/ico_polygon.svg");
}

.hero-list__item:nth-child(3)::before {
  background-image: url("../img/ico_elipse.svg");
}

.hero-span {
  margin-right: 18px;
}

.btn-social {
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
}

.btn-social__right {
     -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
}

.button-more {
  z-index: auto;
}

/* services */
.services__container {
  background-image: url("../img/Bg_sercies.png");
}

.swipe-wrapper {
  margin-bottom: 79px;
  overflow-x: hidden;
}

.swipe {
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
   justify-content: space-between;
   overflow-x: auto;
}

.swipe:-webkit-scrollbar {
  display: none;
}

.swipe__col {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.swipe__col:not(:last-child) {
  margin-right: 32px;
}

.swipe__col_services {
  min-width: 332px;
  max-width: 332px;
  min-height: 452px;
  padding: 36px 26px 16px;
}

.swipe__col_services-1 {
  background-image: url("../img/Card_serv_analize.jpg");
}

.swipe__col_services-2 {
  background-image: url("../img/promotion_concept.jpg");
}

.swipe__col_services-3 {
  background-image: url("../img/Reclam_material.jpg");
}

.swipe__col_services-4 {
  background-image: url("../img/Launch.jpg");
}

.swipe__col.center {
  padding-left: 11px;
  padding-right: 11px;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.card-description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.button-service {
  margin: auto;
  z-index: auto;
}

/* additional */
.additional__container {
  -webkit-box-align: inherit;
     -ms-flex-align: inherit;
        align-items: inherit;
  background-image: url("../img/Bg_additional.png");
}

.additional__left {
  background: url("../img/additional-left.png") no-repeat center bottom / contain;
}

.additional__img {
  max-width: 1214px;
  width: 100%;
}

.additional-swiper {
  display: none;
  width: 100%;
}

.additional-swiper .swiper-wrapper {
  margin-bottom: 40px;
}

.additional__bullet.swiper-pagination-bullet {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  background-color: unset;
  opacity: 1;
}

.additional__bullet_active::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
}

.additional__slide {
  text-align: center;
}

.additional-slide-img {
  max-width: 287px;
}

/* edge */
.edge__container {
  background-image: url("../img/Bg_edge.png");
}
.second-title_edge {
  margin-bottom: 130px;
}

.swipe__col-edge {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  min-height: 390px;
  min-width: 350px;
  background-position: center top;
}

.swipe__col-edge_1 {
  background-image: url("../img/edge-1.png");
  background-size: 350px 276.65px;
}

.swipe__col-edge_2 {
  background-image: url("../img/edge-2.png");
  background-size: 220px 276px;
}

.swipe__col-edge_3 {
  background-image: url("../img/edge-3.png");
  background-size: 250px 276px;
}

.edge-description {
  max-width: 260px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
